.navigation {
  position: relative;
  &__list {
    padding: rem(50px);
    display: flex;
    column-gap: rem(20px);
  
  }
  &__item {

  }
  &__link {
      display: inline-flex;
      font-size: rem(16px);
      line-height: rem(20px);
      color: #000;
      padding: rem(7px) rem(15px);
      background-color: aquamarine;
      transition: all 0.6s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
  }
}
