extends ../../layout/layout

block variables
  -
    const pageName = 'modal3'
    const pageTitle = 'modal3'

block content
  main
    .inner
      p Страница 3
  +recover-password-modal.modal__active