mixin input-password(mods)
  -
    const baseName = 'input-password'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .input-password(class=allMods)&attributes(attributes)
    input.input-password__input#inp-passw(type="password", required)
    label.input-password__label(for="inp-passw") пароль
      span.input-password__star *
    span.input-password__inp-show.modal__inp-show_active
      +inp-show
    span.input-password__inp-show
      +inp-noshow
