mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')

mixin inp-reset
  svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M5.13864 5.63864L10 10.5M14.8614 15.3614L10 10.5M10 10.5L14.8614 5.63864M10 10.5L5.13864 15.3614' stroke='#7F7F7F' stroke-width='1.5')
mixin inp-show
  svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.0001 3.8332C12.2351 3.8332 14.3722 5.00545 16.3638 6.93147C17.0433 7.58855 17.658 8.29004 18.1991 8.99183C18.5257 9.41531 18.7575 9.74844 18.8844 9.9469L19.1668 10.3884L18.8844 10.8299C18.7575 11.0283 18.5257 11.3615 18.1991 11.785C17.658 12.4867 17.0433 13.1882 16.3638 13.8453C14.3722 15.7713 12.2351 16.9436 10.0001 16.9436C7.7652 16.9436 5.62809 15.7713 3.63645 13.8453C2.95699 13.1882 2.34229 12.4867 1.80116 11.785C1.47463 11.3615 1.24279 11.0283 1.11586 10.8299L0.833496 10.3884L1.11586 9.9469C1.24279 9.74844 1.47463 9.41531 1.80116 8.99183C2.34229 8.29004 2.95699 7.58855 3.63645 6.93147C5.62809 5.00545 7.7652 3.8332 10.0001 3.8332ZM16.9011 9.99221C16.4057 9.34967 15.8424 8.70684 15.2244 8.10921C13.509 6.45035 11.7248 5.47168 9.99991 5.47168C8.27501 5.47168 6.49082 6.45035 4.77545 8.10921C4.15746 8.70684 3.59416 9.34967 3.09872 9.99221C2.99171 10.131 2.89284 10.2634 2.80244 10.3881C2.89284 10.5128 2.99171 10.6452 3.09872 10.784C3.59416 11.4265 4.15746 12.0693 4.77545 12.667C6.49082 14.3258 8.27501 15.3045 9.99991 15.3045C11.7248 15.3045 13.509 14.3258 15.2244 12.667C15.8424 12.0693 16.4057 11.4265 16.9011 10.784C17.0081 10.6452 17.107 10.5128 17.1974 10.3881C17.107 10.2634 17.0081 10.131 16.9011 9.99221ZM6.72272 10.3883C6.72272 12.1985 8.19015 13.6659 10.0003 13.6659C11.8105 13.6659 13.2779 12.1985 13.2779 10.3883C13.2779 8.57815 11.8105 7.11072 10.0003 7.11072C8.19015 7.11072 6.72272 8.57815 6.72272 10.3883ZM11.6389 10.3883C11.6389 11.2934 10.9052 12.0271 10.0001 12.0271C9.09505 12.0271 8.36133 11.2934 8.36133 10.3883C8.36133 9.48319 9.09505 8.74947 10.0001 8.74947C10.9052 8.74947 11.6389 9.48319 11.6389 10.3883Z' fill='#242424')
