mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')

mixin inp-reset
  svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M5.13864 5.63864L10 10.5M14.8614 15.3614L10 10.5M10 10.5L14.8614 5.63864M10 10.5L5.13864 15.3614' stroke='#7F7F7F' stroke-width='1.5')
mixin inp-show
  svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.0001 3.8332C12.2351 3.8332 14.3722 5.00545 16.3638 6.93147C17.0433 7.58855 17.658 8.29004 18.1991 8.99183C18.5257 9.41531 18.7575 9.74844 18.8844 9.9469L19.1668 10.3884L18.8844 10.8299C18.7575 11.0283 18.5257 11.3615 18.1991 11.785C17.658 12.4867 17.0433 13.1882 16.3638 13.8453C14.3722 15.7713 12.2351 16.9436 10.0001 16.9436C7.7652 16.9436 5.62809 15.7713 3.63645 13.8453C2.95699 13.1882 2.34229 12.4867 1.80116 11.785C1.47463 11.3615 1.24279 11.0283 1.11586 10.8299L0.833496 10.3884L1.11586 9.9469C1.24279 9.74844 1.47463 9.41531 1.80116 8.99183C2.34229 8.29004 2.95699 7.58855 3.63645 6.93147C5.62809 5.00545 7.7652 3.8332 10.0001 3.8332ZM16.9011 9.99221C16.4057 9.34967 15.8424 8.70684 15.2244 8.10921C13.509 6.45035 11.7248 5.47168 9.99991 5.47168C8.27501 5.47168 6.49082 6.45035 4.77545 8.10921C4.15746 8.70684 3.59416 9.34967 3.09872 9.99221C2.99171 10.131 2.89284 10.2634 2.80244 10.3881C2.89284 10.5128 2.99171 10.6452 3.09872 10.784C3.59416 11.4265 4.15746 12.0693 4.77545 12.667C6.49082 14.3258 8.27501 15.3045 9.99991 15.3045C11.7248 15.3045 13.509 14.3258 15.2244 12.667C15.8424 12.0693 16.4057 11.4265 16.9011 10.784C17.0081 10.6452 17.107 10.5128 17.1974 10.3881C17.107 10.2634 17.0081 10.131 16.9011 9.99221ZM6.72272 10.3883C6.72272 12.1985 8.19015 13.6659 10.0003 13.6659C11.8105 13.6659 13.2779 12.1985 13.2779 10.3883C13.2779 8.57815 11.8105 7.11072 10.0003 7.11072C8.19015 7.11072 6.72272 8.57815 6.72272 10.3883ZM11.6389 10.3883C11.6389 11.2934 10.9052 12.0271 10.0001 12.0271C9.09505 12.0271 8.36133 11.2934 8.36133 10.3883C8.36133 9.48319 9.09505 8.74947 10.0001 8.74947C10.9052 8.74947 11.6389 9.48319 11.6389 10.3883Z' fill='#242424')
mixin inp-noshow
  svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M2.38517 1.72684L1.22635 2.88566L4.55695 6.21626C4.2467 6.47338 3.93966 6.74952 3.636 7.04317C2.95653 7.70025 2.34182 8.40176 1.80068 9.10355C1.47415 9.52704 1.24231 9.86017 1.11538 10.0586L0.833008 10.5001L1.11538 10.9416C1.24231 11.1401 1.47415 11.4732 1.80068 11.8967C2.34182 12.5985 2.95653 13.3 3.636 13.9571C5.62766 15.8831 7.76479 17.0554 9.99977 17.0554C11.4099 17.0554 12.781 16.5888 14.1013 15.7606L17.6145 19.2738L18.7734 18.115L2.38517 1.72684ZM12.9042 14.5635L11.6648 13.3241C11.1769 13.6124 10.6077 13.7779 9.99989 13.7779C8.1897 13.7779 6.72226 12.3104 6.72226 10.5002C6.72226 9.89244 6.8877 9.32327 7.17601 8.83532L5.72216 7.38146C5.40474 7.63744 5.08885 7.91797 4.77525 8.22124C4.15725 8.81887 3.59395 9.46171 3.0985 10.1043C2.99149 10.243 2.89261 10.3754 2.80221 10.5001C2.89261 10.6248 2.99149 10.7572 3.0985 10.896C3.59395 11.5386 4.15725 12.1814 4.77525 12.779C6.49064 14.4379 8.27485 15.4166 9.99977 15.4166C10.957 15.4166 11.9324 15.1152 12.9042 14.5635ZM8.41656 10.0759C8.38037 10.2112 8.36107 10.3535 8.36107 10.5002C8.36107 11.4053 9.0948 12.1391 9.99989 12.1391C10.1467 12.1391 10.2889 12.1198 10.4243 12.0836L8.41656 10.0759ZM16.6356 13.6885L15.4767 12.5296C15.9964 12.0043 16.474 11.4501 16.9012 10.8961C17.0082 10.7573 17.1071 10.6249 17.1975 10.5002C17.1071 10.3755 17.0082 10.2431 16.9012 10.1043C16.4058 9.46177 15.8425 8.81893 15.2245 8.22129C13.5091 6.56242 11.7249 5.58373 9.99994 5.58373C9.57196 5.58373 9.14033 5.64398 8.70701 5.75992L7.41073 4.46364C8.25672 4.12631 9.12076 3.94491 9.99994 3.94491C12.2349 3.94491 14.372 5.11718 16.3637 7.04322C17.0432 7.70031 17.6579 8.40181 18.199 9.10361C18.5256 9.52709 18.7574 9.86023 18.8843 10.0587L19.1667 10.5002L18.8843 10.9417C18.7574 11.1402 18.5256 11.4733 18.199 11.8968C17.731 12.5037 17.208 13.1105 16.6356 13.6885Z' fill='#242424')
mixin question
  svg(width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
    rect(x='1' y='1' width='17' height='17' rx='8.5' fill='white')
    rect(x='1' y='1' width='17' height='17' rx='8.5' stroke='#E0E0E0')
    path(d='M12.032 7.476C12.032 8.448 11.672 9.084 10.952 9.504C10.184 9.948 9.992 9.96 9.992 10.704V11.064H8.336V10.404C8.336 9.432 8.504 8.88 9.512 8.424C10.004 8.196 10.388 8.136 10.388 7.476C10.388 6.804 10.244 6.528 9.38 6.528C8.564 6.528 8.336 6.78 8.336 7.536H6.716C6.716 5.568 7.844 5.064 9.356 5.064C11.012 5.064 12.032 5.628 12.032 7.476ZM10.196 12.576C10.196 13.188 9.848 13.596 9.176 13.596C8.504 13.596 8.156 13.188 8.156 12.576C8.156 11.916 8.564 11.58 9.176 11.58C9.788 11.58 10.196 11.916 10.196 12.576Z' fill='#DB2E27')
mixin arrow-left
  svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M15 20.5L7 12.5L15 4.5' stroke='#242424' stroke-width='1.5' stroke-linejoin='bevel')


